<h1>Register</h1>

<div>
<% if flash[:status] == TRUE %>
    <p><%= flash[:alert] %></p>
<% elsif flash[:status] == FALSE %>
  <% flash[:alert].each do |error| %>
    <p><%= error %></p>
  <% end %>
<% end %>
</div>

<%= form_for @user do |user| %>
<div>
  <div>
  <%= user.lable(:name, "Name")%>
  <%= user.text_field :name %>
</div>
<div>
  <%= user.lable(:password, "Password")%>
  <%= user.text_field :password %>
</div>
<div>
  <%= user.lable(:password_confirmation, "Confirm Password")%>
  <%= user.text_field :password_confirmation %>
</div>
<div>
  <%= user.lable(:email, "email")%>
  <%= user.text_field :email %>
</div>
<div>
  <%= submit_tag "Register" %>
</div>
<% end %>
